@media only screen and (max-width: 850px) {
    .reaction {
        width: 80%
    }
}

.welcome {
    font-size: 24px;
    border-style: solid;
    border-radius: 5px;
    border-width: 10px;
    border-color: purple;
    margin: 12px;
}

.text-div {
    margin: 10px auto;
    width: 80%;
}

h6 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.reaction {
    width: 75%
}

body {
    background-color: rgb(250, 207, 127);
    margin: 0 auto;
    text-align: center;
}

.info {
    font-size: 36px;
}