@media only screen and (max-width: 850px){
    .reaction {
        width: 350px
    }
}

.welcome {
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    border-width: 10px;
    border-color: purple
}

.reaction {
    width: 60%
}

body {
    background-color: cornflowerblue;
    margin: 0 auto;
    text-align: center;
}

.info {
    font-size: 36px;
}