@media only screen and (max-width: 750px) {
    img {
        width: auto;
        height: auto;
        max-width: 400px;
        max-height: 400px
    }
}

img {
    height: 435px;
}

.welcome {
    font-size: 24px;
    border-style: solid;
    border-radius: 5px;
    border-width: 10px;
    border-color: purple;
    margin: 12px;
}

.text-div {
    margin: 5px auto;
    width: 70%;
}

h6 {
    padding-top: 10px;
    padding-bottom: 10px;
}

body {
    background-color: rgb(250, 207, 127);
    margin: 0 auto;
    text-align: center;
}

.info {
    font-size: 36px;
}